.chatPane {
  height: 100%;
  overflow: scroll;
}

.interaction {
  overflow: auto;
  width: 100%;
  padding: 8px 0;
}

.question {
  display: inline-block;
  border-radius: 25px;
  background: #99ff99;
  padding: 15px;
  text-align: right;
}

.answer {
  display: inline-block;
  border-radius: 25px;
  background: #20ffff;
  padding: 15px;
  text-align: left;
}
