
.demoTile {
    min-height: 200px !important;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #cfcfcf;
}

.demoTileLink {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    float: left;
    margin: 10px 20px;
}

.demoTileContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}
